:root{
    --primary: rgb(255, 245, 230);
    --font_color: black;
    --titulos:rgb(51, 56, 59); 
    --brown: rgb(144, 52, 19);
    --footer: rgb(218, 130, 67, 0.66);
    
}
.about_us{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; /*porq no se mueve a la izq?*/
    background-color:var(--primary);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 45px; 
    color: var(--titulos);
}
.profiles{
    height: 100%;
    width: 100%;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.profiles .ppal img{
    width: 580px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
}
.all-text{
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}
.ppal{
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.all-text p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: var(--font_color);
    line-height: 20px;
    margin-bottom: 30px;
}