:root{
    --primary: rgb(255, 245, 230);
    --font_color: black;
    --brown: rgb(144, 52, 19);
    --footer: rgb(218, 130, 67, 0.66);
    
}
body{
    margin: 0px;
}
li a{
    color: maroon;
    text-decoration: none;
}
